# Build directory.
build/

# coverage generated report directory
tool/generated/

# vim temporary files
*.swp
*.swo

# .vscode project files.
.vscode/

# Doxygen output files.
html/

# emsdk folder pulled from wasm/install_deps.sh
wasm/emsdk
