name: CI

on: [push]

jobs:
  clang_check:
    runs-on: ubuntu-latest
    steps:
    - name: Set-up repository
      uses: actions/checkout@v2

    - name: Install clang-format
      run: |
        sudo apt install -y clang-format-8

    - name: Run clang formatter
      run: |
        ALL_FILES_TO_CHECK=$(find . -type f -regex ".*\.\(cpp\|hpp\|c\|h\)" -print | paste -sd " ")
        for file in ${ALL_FILES_TO_CHECK}; do
          clang-format-8 -i -verbose ${file}
        done
        changes="$(git diff)"
        if [[ ! -z "${changes}" ]]; then
          echo "Clang-format check failed!"
          echo "You should fix the following formatting errors:"
          echo "${changes}"
          exit 1
        else
          echo "Clang-format check ok!"
          exit 0
        fi

  build_and_test:
    strategy:
     matrix:
        platform: [ubuntu-18.04]
    runs-on: ${{ matrix.platform }}
    env:
      MG_VERSION: "1.2.0"
    steps:
    - name: Set-up repository
      uses: actions/checkout@v1

    - name: Cache Memgraph Docker image
      id: cache-memgraph-docker
      uses: actions/cache@v1
      with:
        path: ~/memgraph
        key: cache-memgraph-v${MG_VERSION}-docker-image

    - name: Download Memgraph Docker image
      if: steps.cache-memgraph-docker.outputs.cache-hit != 'true'
      run: |
        mkdir ~/memgraph
        curl -L https://memgraph.com/download/memgraph/v${MG_VERSION}/docker/memgraph-${MG_VERSION}-community-docker.tar.gz > ~/memgraph/memgraph-docker.tar.gz

    - name: Load and run Memgraph Docker image
      run: |
        docker load -i ~/memgraph/memgraph-docker.tar.gz
        docker run -d -p 7687:7687 memgraph

    - name: Build with gcc, test and install mgclient
      run: |
        mkdir build-gcc && cd build-gcc
        cmake -DCMAKE_C_COMPILER=gcc -DCMAKE_CXX_COMPILER=g++ -DCMAKE_BUILD_TYPE=Release -DBUILD_TESTING=ON -DBUILD_TESTING_INTEGRATION=ON ..
        make
        ctest --output-on-failure
        sudo make install

    - name: Build with clang, test and install mgclient
      run: |
        mkdir build-clang && cd build-clang
        cmake -DCMAKE_C_COMPILER=clang -DCMAKE_CXX_COMPILER=clang++ -DCMAKE_BUILD_TYPE=Release -DBUILD_TESTING=ON -DBUILD_TESTING_INTEGRATION=ON ..
        make
        ctest --output-on-failure
        sudo make install
